{{#link-to "company" company.id}}
  <div class="image-block">
    <img id="resize" src="{{company.image}}">
    <div class="overlay">
      <div class="text">
        <h3 style="color: #000">Read the review</h3>
      </div>
    </div>
  </div>
{{/link-to}}
<div class="text-block">
  <h4 id="companyName">{{company.name}}</h4>
  <h5 data-test="companyRating">Yelp rating: {{company.yelp}}</h5>
  <p data-test="companyPhone">{{company.phone}}</p>
  <a href="{{company.website}}" target="_blank" data-test="companyWebsite">
    <p>Website</p>
  </a>
  <p data-test="companyAddress">{{company.address}}</p>
</div>
