  {{#link-to "company" company.id}}
<div>
  <h4>{{company.name}}</h4>
  <h5>{{company.yelp}}</h5>
  <p>{{company.phone}}</p>
  <a href="{{model.website}}">Website</a>
  <p>{{company.address}}</p>
</div>

  {{/link-to}}
