<div class="container">
  <div class="company-block">
    <h2 data-test="companyName">{{model.name}}</h2>
    <h4 data-test="companyRating">Yelp rating: {{model.yelp}}</h4>
    <p data-test="companyPhone">{{model.phone}}</p>
    <a href="{{model.website}}" target="_blank">
      <p data-test="companyWebsite">Website</p>
    </a>
    <p data-test="companyAddress">{{model.address}}</p>


    {{#each model.reviews as |review|}}
      <div class="review" data-test="each-review">
        <div class="reviewResult">
          <h4>{{model.name}} is... <span>{{star-rating}}</span></h4>
          {{#if isTooLong}}
            <p>
              {{review.review}}
            </p>
            <button {{action "toggleBody"}} id="readMore">
              <h5>Read Less</h5>
            </button>
          {{else}}
            {{truncate-text review.review 300 data-test="characters"}}
            <button {{action "toggleBody"}} id="readMore">
              <h5>Read More</h5>
            </button>
          {{/if}}

        </div>
        <div class="editReview">
          <h4>Edit Review</h4>
          {{textarea rows="5" cols="40" value=updatedTitle placeholder="Edit your review here..."}}
          <div class="buttons">
            <button type="button" onclick={{action "editReview" review}} id="save">
              <h5>Save Edit</h5>
            </button>
            <button type="button" onclick={{action "deleteReview" review}} id="delete">
              <h5>Delete Review</h5>
            </button>
          </div>
        </div>
      </div>
    {{/each}}


  </div>

  <div class="review-block">

    <form onsubmit={{action "composeReview"}}>
      <h3>Write a Review</h3>
      <div class="review-form">
        <h3>Select a rating:<span style="margin-left: 5%;">{{star-rating item=review rating=review.rating on-click=(action "updateRating")}}</span></h3>
        <br>
        <p>
          {{textarea rows="10"
          cols="80"
          id="review"
          value=review
          placeholder="Write a review here..."
          data-test="review-body"}}
        </p>
      </div>

      <div>
        <AsyncButton @defaultText="Save" @pendingText="Saving..." @onClick={{action "saveReview"}} id="publish" data-test="publish" />
        <!-- <button type="submit" id="publish" data-test="publish"><h5>Publish</h5></button> -->
      </div>
    </form>
  </div>
</div>
