<div class="container">
  <div class="company-block">
    <h2>{{model.name}}</h2>
    <h4>{{model.yelp}}</h4>
    <p>{{model.phone}}</p>
    <a href="{{model.website}}" target="_blank">
      <p>Website</p>
    </a>
    <p>{{model.address}}</p>


    {{#each model.reviews as |review|}}
      <div class="review">
        <div class="reviewResult">
          <h4>{{model.name}} is... <span>{{star-rating}}</span></h4>
          {{#if isTooLong}}
            <p>
              {{review.review}}
            </p>
            <button {{action "toggleBody"}} id="readMore"><h5>Read Less</h5></button>
          {{else}}
            {{truncate-text review.review 300}}
            <button {{action "toggleBody"}} id="readMore"><h5>Read More</h5></button>
          {{/if}}

        </div>
        <div class="editReview">
          <h4>Edit Review</h4>
          {{textarea rows="5" cols="40" value=updatedTitle placeholder="Edit your review here..."}}
          <div class="buttons">
            <button type="button" onclick={{action "editReview" review}} id="save">
              <h5>Save Edit</h5>
            </button>
            <button type="button" onclick={{action "deleteReview" review}} id="delete">
              <h5>Delete Review</h5>
            </button>
          </div>
        </div>
      </div>
    {{/each}}


  </div>

  <div class="review-block">
    <!-- {{#link-to 'create'}}
      <h4>Write a review</h4>
    {{/link-to}} -->

    <form onsubmit={{action "composeReview"}}>
      <h3>Write a Review</h3>
      <div class="review-form">
        <h3>Select a rating:<span style="margin-left: 5%;">{{star-rating item=review rating=review.rating on-click=(action "updateRating")}}</span></h3>
        <br>
        <p>{{textarea rows="10" cols="80" id="review" value=review placeholder="Write a review here..."}}</p>
        <div>{{validationErrors.review}}</div>
      </div>

      <div>
        <button type="submit" id="publish"><h5>Publish</h5></button>
      </div>
    </form>
  </div>
</div>
